@import '~@theme/styles/config.styl'

.header-nav__link
  &:nth-child(1)
    background-color: $primaryColor
  
  &:nth-child(2)
    background-color: #35495e
  
  &:nth-child(3)
    background-color: #263647
  
  &:nth-child(4)
    background-color: #581845

.bullet
  background-color: $primaryColor !important
